h1 {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-size: 2em;
    color: #4aaaa5;
}

h2 {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-size: 1.5em;
    color: #777777;
}

p{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 1em;
    color: #777777;
    line-height: 2.25em;

}
hr{
    height: 2px;
    background-color: #dddddd;
    border: 0 none;
    color: #dddddd;
}

footer{
    z-index: 2;
    position: fixed;
    bottom: 0;
    height: 60px;
    width: 100%;
    margin-top: 300px; 
    text-align: center;
    background-color: #666666;
    border-top: 8px #4aaaa5 solid;
}
footer p {
    font-size: 1em;
    color: #d8d8d8;
    position: fixed;
    display: inline-block;
    text-align: center;
    bottom: 0;
}

main{
    z-index: 1;
    position: absolute;
    padding: 30px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 900px;
    height: 50%;
    margin: auto;
    background-color: #ffffff;
}
main2{
    z-index: 1;
    position: absolute;
    padding: 30px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 900px;
    height: 70%;
    margin: auto;
    background-color: #ffffff;
}

main li{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 1em;
    color: #777777;
    line-height: 2.25em;
}

#maincontentlist{
    float: left;
    padding-left: 10px; 
    padding-right: 20px;
}
main b{
    
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 1.25em;
    color: #777777;
    line-height: 2.25em;
}

#profilepicture {
    float: left;
    width: 150px;
    height: 150px;
    margin-right: 20px;
}
#portfoliopicture{
    float: left;
    width: 250px;
    height: 150px;
    margin-right: 20px;
    margin-top: 30px;
}
#portfoliopicture2{
    float: left;
    width: 250px;
    height: 150px;
    margin-right: 200px;
    margin-top: 30px;
}
#headermod {
    width: 100%;
    margin-left: 5%;
}
#namebanner {
    background-color: #4aaaa5;
    height: 100px;
    float: left;
    padding-left: 40px;
    padding-right: 40px;
}
#namebanner h1 {
    color: white;
    text-align: center;
    line-height: 100px;
    vertical-align: middle;
}

.jumbotron {
    position: static;
    z-index: 30;
    padding: 30px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 900px;
    height: 50%;
    margin: auto;
    background-color: #ffffff;
}
header {
    position: fixed;
    z-index: 3;
    top: 0px;
    width: 100%;
    height: 100px;
    background-color: #ffffff;
    border-bottom: 2px #cccccc solid;
}

ul{
    float: right;
    margin-right: 8%;
}

ul li a{
    display: block;
    float: right;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 1.25em;
    margin-bottom: 25px;
    margin-top: 25px;
}


ul li a:default {
    color: #777777;
}
ul li a:visited {
    color: #777777;
}
ul li:last-child {
    border-left: none;
    padding-left: 0;

}

body {
    background-image: url("../images/funky-lines.png");
    background-repeat: repeat;
}


form{
    z-index: 2;
}

.fullscreen-bg {
    position: static;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
   
}

.fullscreen-bg__video {
    position: static;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -100;
}

.write{
    font-size: 22px;
}

.container{
    text-align: center;
}